.grid .tick {
    stroke: lightgrey;
    opacity: 0.1;
}
.grid path {
    stroke-width: 0;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
    fill: none;
    stroke-width: 1px;
}
.panel-body {
  /* height: 480px; */
  height: calc(100vh-90);
  overflow-y: auto; 
  overflow-x: auto;
}

.border:active{
    outline: 1px solid blue;
	cursor: pointer;
}
.dragaxis:hover{
	cursor: e-resize;
}
.main-content-wrapper #main-content {
    /* padding: 15px 15px 0 15px; */
    padding: 0px !important;
    width: 100%;
}
.crosshair{
	z-index:1;
}
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
  r:8;
}
.handle:hover{
	cursor: pointer;
}
#main-container {
 text-align: left;
}

#container-graph {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
visibility: hidden;
position: absolute;
top: 0px;
left: 0px;
background-color: #fefefe ;
}

.setting-header {
 height: 40px;
 text-align: center;
 background-color: #1d212a ;
 color: #fefefe ;
 padding-top: 8px;
}

.setting-header button {
 color: #fff;
 margin-right: 8px;
}

.setting-footer {
 background-color: #efefef ;
}

.setting-footer button {
 margin: 8px 8px 8px 0px;
 border: 0.5px solid #777;
}

.setting-footer button:nth-child(2) {
 font-weight: bold;
 background-color: #1d212a ;
 color: #fff;
}

.setting-footer .clearfix {
 float: both;
}
.highlight { background-color: red; }