<div class="pageheader">
	<h1>API Group</h1>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-body">
				<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Action</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>1</td>
						  <td>POST</td>
						</tr>
						<tr>
						  <td>2</td>
						  <td>PUT</td>
						</tr>
						<tr>
						  <td>3</td>
						  <td>GET</td>
						</tr>
						<tr>
						  <td>4</td>
						  <td>DELETE</td>
						</tr>						
					  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
</section>