<!-- <nav class="navbar navbar-default navbar-fixed-bottom"> -->
<!-- <nav> -->
	<div class="sidebar-profile">
		<div class="avatar">
			<img class="img-circle profile-image" src="img/vac-1.jpg">
			<!-- <i class="on border-dark animated bounceIn"></i> -->
		</div>
		<div class="profile-body">
			<h4>Anonymous</h4>
			<small class="title">Developer</small>
		</div>
	</div>
	<nav>
	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">     -->
		<!-- location directive.js | data-nav-toggle-sub maps to -->
		
		<ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
			<h5 class="sidebar-header">User Management</h5>
			<li ui-sref-active="active">
				<a href="" ui-sref="user_registration" title="user_registration">
					<i class="fa fa-fw fa-tachometer"></i> User Registration
				</a>
			</li>
			<li ui-sref-active="active">
				<a href="" ui-sref="user_role" title="user_role">
					<i class="fa fa-fw fa-tachometer"></i> User-Role Matrix
				</a>
			</li>			
			<li ui-sref-active="active">
				<a href="" ui-sref="role" title="role">
					<i class="fa fa-fw fa-tachometer"></i> Role List
				</a>
			</li> 
			<li ui-sref-active="active">
				<a href="" ui-sref="role_action" title="role_action">
					<i class="fa fa-fw fa-tachometer"></i> Role-Action Matrix
				</a>
			</li> 			
			<li ui-sref-active="active">
				<a href="" ui-sref="api" title="api">
					<i class="fa fa-fw fa-tachometer"></i> API Group
				</a>
			</li> 
			
		</ul>
	</nav>
<!-- </nav> -->

