<div class="pageheader">
	<h1>Role-Action Matrix</h1>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-body">
				<table class="table">
					  <thead>
						<tr>
						  <th></th>
						  <th>POST</th>
						  <th>PUT</th>
						  <th>GET</th>
						  <th>DELETE</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>Admin</td>
						  <td>&#10004</td>
						  <td>&#10004</td>
						  <td>&#10004</td>
						  <td>&#10004</td>
						</tr>
						<tr>
						  <td>User</td>
						  <td>&#10004</td>
						  <td>&#10004</td>
						  <td></td>
						  <td></td>
						</tr>	
					  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
</section>