<div class="pageheader">
	<h1>Role List</h1>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-body">
				<table class="table">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Name</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>1</td>
						  <td>Admin</td>
						</tr>
						<tr>
						  <td>2</td>
						  <td>User</td>
						</tr>
					  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
</section>