<div class="pageheader">
	<h1>User-Role Matrix</h1>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-body">
				<table class="table">
					  <thead>
						<tr>
						  <th></th>
						  <th>Admin</th>
						  <th>User</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>Buu</td>
						  <td></td>
						  <td>&#10004</td>
						</tr>
						<tr>
						  <td>Khanh</td>
						  <td></td>
						  <td>&#10004</td>
						</tr>	
						<tr>
						  <td>Linh</td>
						  <td></td>
						  <td>&#10004</td>
						</tr>	
						<tr>
						  <td>Trung</td>
						  <td></td>
						  <td>&#10004</td>
						</tr>	
						<tr>
						  <td>Huy</td>
						  <td>&#10004</td>
						  <td>&#10004</td>
						</tr>	
						<tr>
						  <td>Minh</td>
						  <td>&#10004</td>
						  <td>&#10004</td>
						</tr>							
					  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
</section>