 <div class="pageheader">
	<h1>User Registration</h1>
</div>
<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary" style="height:40px; width:200px; background-color: #4CAF50;">Register</button>
						<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
						<br>
						<button type="submit" class="btn btn-primary" style="height:40px; width:200px;"> <span class="fa fa-facebook"></span> Sign up with Facebook</button>
						<br>
						<button type="submit" class="btn btn-primary" style="height:40px; width:200px; background-color: #f44336;"> <span class="fa fa-google"></span> Sign up with Google</button>						
					</form>


				</div>
			</div>
		</div>
	</div>
</section>