/*Layout settings*/ 
.header {
    background-color:rgb(18,31,43);
    color:white;
    text-align: center;
    padding:4px;
    height:100px;
    line-height: 100px; 
/*    width: 100%;*/
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

.body {
    line-height:30px;
    background-color:rgb(39,51,63);
    color:white;
    height:80%;
    width: 100%;
}

.footer {
    background-color:rgb(18,31,43);
    color:white;
    text-align:center;
/*    padding:4px;*/
    height:100px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.container-full {
/*  margin: 0 auto;*/
  width: 100%;
}

.box-content {
    display: inline-block;
    width: 200px;
    padding: 10px;
}

.bottom {
    border-bottom: 1px solid #ccc;
}

.right {
    border-right: 1px solid #ccc;
}




/*Font settings*/
h1 {
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}

h3 {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}
p {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
blockquote {
	font-family: Lato;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

