<div class="pageheader">
    <h1>Load Curve</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <ol class="breadcrumb">
			<li><a ui-sref="index">Start</a></li>
			<li><a ui-sref="database.load">Load Database</a></li>
			<li style="font-size:15px"><b>Load Curve</b></li>            
			<li>Parameter Set</li>
			<li>Plot</li>
			<li>Calculation & Correction</li>
			<li>Interpretation</li>
			<li>End</li>
        </ol>
    </div>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div id="table-database-loadselection-bootstrap">
			<div class="panel panel-default">
				<div class="panel-body">
					<table id="table-curve" class="compact row-border" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><input ichecks id="icheck-all" type="checkbox" checked="" name="check1"></th>
								<th>Name</th>
								<th>Name Standard</th>
								<th>Unit</th>
								<th>Unit Standard</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>DEPTH</td>
								<td>Depth</td>
								<td>.M</td>
								<td>.M</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>CALI_RHOB</td>
								<td>Caliper</td>
								<td>.IN</td>
								<td>.IN</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>DT</td>
								<td>Sonic</td>
								<td>.US/FT</td>
								<td>.US/FT</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>GR</td>
								<td>Gamma Ray</td>
								<td>.API</td>
								<td>.API</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>LLD</td>
								<td>Deep Resistivity</td>
								<td>.OHMM</td>
								<td>.OHMM</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>LLS</td>
								<td>Deep Resistivity</td>
								<td>.OHMM</td>
								<td>.OHMM</td>
							</tr>							
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>MSFL</td>
								<td>Micro Resistivity</td>
								<td>.OHMM</td>
								<td>.OHMM</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>NPHI</td>
								<td>Neutrol Poropsity</td>
								<td>.V/V</td>
								<td>.V/V</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>PE</td>
								<td>Photoelectric</td>
								<td>.B/E</td>
								<td>.B/E</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>SP</td>
								<td>Spontaneous Potential</td>
								<td>.MV</td>
								<td>.MV</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>RHOB</td>
								<td>Density</td>
								<td>.G/CC</td>
								<td>.G/CC</td>
							</tr>							
						</tbody>
					</table>

				</div>
             </div>
        </div>
    </div>

	<div class="row">
		<div id="button-database-loadselection-bootstrap">
			<div class="panel panel-default">			
				<div class="panel-body">
					<form role="form">
<!-- 						<div style="text-align: center;">
							<button ui-sref="database.load" type="submit" class="btn btn-primary grow button-large" style="background-color: gray;">Back</button>
							<span style="display:inline-block; width: 30px;"></span>
							<button ui-sref="parameter.clay" type="submit" class="btn btn-primary grow button-large" style="background-color: #4CAF50;">Load</button>
						</div>	 -->
                        <div style="float:left;">
                            <button ui-sref="database.load" type="submit" class="button-back button-common">Back</button>						
                        </div>					
                        <!-- <div style="text-align: right; display:inline-block;"> -->
						<div style="float:right;">
							<button ui-sref="parameter.clay" type="submit" class="button-load button-common" >Load</button>							
                        </div>						
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script src="js/custom.js"></script>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        var winHeight = $(window).height();
        var winWidth = $(window).width();
           var docHeight = $(document).height();
           var docWidth = $(document).width();
           console.log("winWidth:  " + winWidth);
           console.log("winHeight: " + winHeight);
           console.log("docWidth:  " + docWidth);
           console.log("docHeight: " + docHeight);

           if (winWidth <= 1440 ) {
               $("#table-database-loadselection-bootstrap").addClass("col-md-12");
           } else {
            $("#table-database-loadselection-bootstrap").addClass("col-md-8 col-md-offset-2");  
           } 

           if (winWidth <= 1440 ) {
               $("#button-database-loadselection-bootstrap").addClass("col-md-12");
           } else {
            $("#button-database-loadselection-bootstrap").addClass("col-md-8 col-md-offset-2");  
           } 		   
    });
</script>