<div class="pageheader">
    <h1>Load Database</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <ol class="breadcrumb">
			<li><a ui-sref="index">Start</a></li>
			<li style="font-size:15px"><b>Load Database</b></li>            
			<li>Load Curve</li>
			<li>Parameter Set</li>
			<li>Plot</li>
			<li>Calculation & Correction</li>
			<li>Interpretation</li>
			<li>End</li>
        </ol>
    </div>
</div>

<section id="main-content" class="animated fadeInRight" ng-controller="tableCtrl">
<!-- <section id="main-content" class="animated fadeInRight"> -->
    <div class="row">
        <div id="table-database-load-bootstrap">
            <div class="panel panel-default">
                <div class="panel-body">
				    <!-- <p class="text-danger">You clicked on: <strong>{{ message }}</strong></p> -->
					<table datatable="ng" dt-options="update.dtOptions"  dt-columns="update.dtColumns" class="compact hover row-border" cellspacing="0" width="100%" >
                        <tbody>
                            <tr ng-repeat="x in update">
                                    <td>{{ x.projectId }}</td>
                                    <td>{{ x.wellId }}</td>
                                    <td>{{ x.runId }}</td>
                                    <td>{{ x.depth }}</td>
                                    <td>{{ x.createdDate }}</td>
                                    <td>{{ x.lastActivity }}</td>    
                            </tr>    
                        </tbody>
                    </table>
                    
                </div>
            </div>
       </div>
   </div>

    <div class="row">
        <div id="button-database-load-bootstrap">
            <div class="panel panel-default">            
                <div class="panel-body">
					<div style="float:left;">
						<button ui-sref="index" type="submit" class="button-back button-common">Back</button>						
					</div>					
					
					<!-- <div style="text-align: right; display:inline-block;"> -->
					<div style="float:right;">
						<!-- <button ui-sref="database.loadselection" type="submit" class="btn btn-primary grow button-large" style="background-color: #4CAF50 ;">Load</button> -->
						<button ui-sref="database.loadselection" type="submit" class="button-load button-common" id="loadDatabase" disabled >Load</button>							
					</div>
					<div style="text-align: center;">
						<button type="submit" class="button-addnew button-common" >Edit</button>
						<span style="display:inline-block; width: 30px;"></span>
						<button type="submit" class="button-addnew button-common" data-toggle="modal" data-target="#deleteModal" id="deleteDatabase" disabled >Delete</button>
						<span style="display:inline-block; width: 30px;"></span>
						<button type="submit" class="button-addnew button-common" id="newDatabaseBtn">Add New</button>
						<span style="display:inline-block; width: 30px;"></span>
					</div>					
                </div>
            </div>
        </div>
    </div>
    <script src="js/custom.js"></script>
    
</section>


<div class="modal fade" id="newDatabasePopup" role="dialog" ng-controller="newDatabaseCtrl">
   <div class="modal-dialog">
   
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-header" style="padding:30px 50px; text-align: center; background-color: white;">
                  <h1 style="color: black;">Add New</h1>
            </div>
				<form role="form" ng-submit="submit()">
					<div class="modal-body" style="padding:30px 50px;" append-source>
						<div id="hehe" class="alert alert-danger" style="display: none">
						 {{ alert }}
						</div>
						<div class="form-group">
							<label for="project">Project</label>
							  
							<input type="text" class="form-control" id="project" name="project" ng-model="selectedProject" bs-options="project.projectId for project in projects | filter:{projectId: $viewValue}" placeholder="Enter project"
									ng-change="setCurrentProject(selectedProject)" bs-typeahead required>
						   
						</div>
						<div class="form-group">
							  <label for="well">Well</label>                              
							  <input type="text" class="form-control" id="well" name="well" ng-model="selectedWell"
									bs-options="well.wellId for well in currentProject.wells | filter:{wellId: $viewValue}" placeholder="Enter well"
									ng-change="setCurrentWell(selectedWell)" bs-typeahead required>
						</div>
						<div class="form-group">
							  <label for="run">Run</label>
							  <input type="text" class="form-control" id="run" name="run" ng-model="selectedRun"
									bs-options="run.runId for run in currentWell.runs | filter:{runId: $viewValue}" placeholder="Enter run" 
									ng-change="setCurrentRun(selectedRun)" bs-typeahead required>
									</div>
						<div class="form-group">
							<label for="browse">Upload your database</label>
							<input id="file-las" type="file" class="filestyle" style="" data-icon="false" required>
							<!-- <input value="Browse" type="file"> -->
						</div>
					</div>

					<div class="modal-footer"  style="padding:30px 50px; text-align: center;">
							<div class="form-group">
								<button type="submit" class="button-back button-small-common myReset" data-dismiss="modal" > Close</button>
								<span style="display:inline-block; width: 20px;"></span>
								<button  class="button-back button-small-common myReset" type="button" > Reset</button>
								<span style="display:inline-block; width: 20px;"></span>
								<button id="myUpload" type="submit" class="button-load button-small-common">Upload</button>                   
							</div>
					</div>
				 </form>      
         </div>
     
   </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="deleteModal" role="dialog" ng-controller="deleteDemo">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to delete:</h4>
        </div>
        <div class="modal-body">
          <p>Project: {{ projectId }}</p>
          <p>Well: {{ wellId }}</p>
          <p>Run: {{ runId }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteHttp()">OK</button>
        </div>
      </div>
    </div>
  </div>

<!-- <form ng-controller="deleteDemo" ng-submit="deleteHttp()">
	<label>ProjectId</label>
	<input type="text" id="delProj" ng-model="projectId">

	<label>WellId</label>
	<input type="text" id="delWell" ng-model="wellId">

	<label>RunId</label>
	<input type="text" id="delRun" ng-model="runId">

	<button id="delData" type="submit">Delete</button>
</form>

<form ng-controller="updateDemo" ng-submit="updateHttp()">
	<label>ProjectId</label>
	<input type="text" id="updateProj" ng-model="projectId">

	<label>WellId</label>
	<input type="text" id="updateWell" ng-model="wellId">

	<label>RunId</label>
	<input type="text" id="updateRun" ng-model="runId">

	<label>Key</label>
	<input type="text" id="key" ng-model="key">

	<label>Value</label>
	<input type="text" id="value" ng-model="value">

	<button id="updateData" type="submit">Update</button>
</form> -->

<script type="text/javascript">
    $(document).ready(function() {
        var winHeight = $(window).height();
        var winWidth = $(window).width();
           var docHeight = $(document).height();
           var docWidth = $(document).width();
           // console.log("winWidth:  " + winWidth);
           // console.log("winHeight: " + winHeight);
           // console.log("docWidth:  " + docWidth);
           // console.log("docHeight: " + docHeight);

           if (winWidth <= 1440 ) {
               $("#table-database-load-bootstrap").addClass("col-md-12");
           } else {
            $("#table-database-load-bootstrap").addClass("col-md-8 col-md-offset-2");  
           } 

           if (winWidth <= 1440 ) {
               $("#button-database-load-bootstrap").addClass("col-md-12");
           } else {
            $("#button-database-load-bootstrap").addClass("col-md-8 col-md-offset-2");  
           } 		   
    });
</script>