<div class="pageheader">
    <h1>Load Well</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <!-- <li>LOad </li> -->
            <li class="active">Load Well</li>
        </ol>
    </div>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<table id="example" class="table table-striped table-bordered" datatable="" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Use</th>
								<th>Name</th>
								<th>Name Standard</th>
								<th>Unit</th>
								<th>Unit Standard</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>DEPTH</td>
								<td>DEPTH</td>
								<td>.M</td>
								<td>.M</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>CALI_RHOB</td>
								<td>CALIPER</td>
								<td>.IN</td>
								<td>.IN</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>DT</td>
								<td>SONIC</td>
								<td>.US/FT</td>
								<td>.US/FT</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>GR</td>
								<td>GAMMA RAY</td>
								<td>.API</td>
								<td>.API</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>LLD</td>
								<td>DEEP RESISTIVITY</td>
								<td>.OHMM</td>
								<td>.OHMM</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>LLS</td>
								<td>DEEP RESISTIVITY</td>
								<td>.OHMM</td>
								<td>.OHMM</td>
							</tr>							
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>MSFL</td>
								<td>MICRO RESISTIVITY</td>
								<td>.OHMM</td>
								<td>.OHMM</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>NPHI</td>
								<td>NEUTROL PORPSITY</td>
								<td>.V/V</td>
								<td>.V/V</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>PE</td>
								<td>PHOTOELECTRIC</td>
								<td>.B/E</td>
								<td>.B/E</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>SP</td>
								<td>SPONTANEOUS POTENTIAL</td>
								<td>.MV</td>
								<td>.MV</td>
							</tr>
							<tr>
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">
								</td>
								<td>RHOB</td>
								<td>DENSITY</td>
								<td>.G/CC</td>
								<td>.G/CC</td>
							</tr>							
						</tbody>
					</table>

				</div>
             </div>
        </div>
    </div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">			
				<div class="panel-body">
					<form role="form">
						<div style="text-align: center;">
							<button ui-sref="parameter.clay" type="submit" class="btn btn-primary grow" style="height:60px; width:40%; background-color: #4CAF50; font-size: 20px;">Load</button>
							<span style="display:inline-block; width: 30px;"></span>
							<button ui-sref="database.load" type="submit" class="btn btn-primary grow" style="height:60px; width:40%; background-color: gray; font-size: 20px;">Back</button>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</section>