 <div class="pageheader">
	<h1>Clay Volume Parameter Set </h1>
	<div class="breadcrumb-wrapper hidden-xs">
        <ol class="breadcrumb">
			<li><a ui-sref="index">Start</a></li>
			<li><a ui-sref="database.load">Load Database</a></li>
			<li><a ui-sref="database.loadselection">Load Curve</a></li>          
			<li style="font-size:15px"><b>Parameter Set</b></li> 
			<li>Plot</li>
			<li>Calculation & Correction</li>
			<li>Interpretation</li>
			<li>End</li>
        </ol>
	</div>
</div>

<section id="main-content" class="animated fadeInRight">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<!-- <div class="col-md-12"> -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Single Clay Indicator</b></h3>
				</div>
				<div class="panel-body">
					<table id="table-parameter-single" class="compact" cellspacing="0" width="100%" >
						<thead style="border-bottom: 0px solid #dddddd;">
							<tr>
								<th style="border-bottom: 0px solid #dddddd;">Plot</th>
								<th style="border-bottom: 0px solid #dddddd;">Name</th>
								<th style="border-bottom: 0px solid #dddddd;"></th>
								<th style="border-bottom: 0px solid #dddddd;">Input</th>
								<th style="border-bottom: 0px solid #dddddd;"></th>
								<th style="border-bottom: 0px solid #dddddd;">Output</th>		
<!-- 								<th>Plot</th>
								<th>Name</th>
								<th></th>
								<th>Input</th>
								<th></th>
								<th>Output</th>	 -->							
							</tr>
						</thead>					
						<tbody>
							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">	
								</td>
								<td>								
									Gamma Ray
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										  <option>GR</option>
										  <option>NPHI</option>
										  <option>IDPH</option>
										  <option>SP</option>
										</select>
									
								</td>
								
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										  <option>VCLGR</option>
										  <option>VCLN</option>
										  <option>VCLR</option>
										  <option>VCLSP</option>
										</select>
																	
								</td>
							</tr>	

							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" name="check1">	
								</td>
								<td>								
									Neutron
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										  <option>GR</option>
										  <option>NPHI</option>
										  <option>IDPH</option>
										  <option>SP</option>
										</select>
									
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										  <option>VCLGR</option>
										  <option>VCLN</option>
										  <option>VCLR</option>
										  <option>VCLSP</option>
										</select>
																	
								</td>
							</tr>

							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">	
								</td>
								<td>								
									Resistivity
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										  <option>GR</option>
										  <option>NPHI</option>
										  <option>IDPH</option>
										  <option>SP</option>
										</select>
									
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										  <option>VCLGR</option>
										  <option>VCLN</option>
										  <option>VCLR</option>
										  <option>VCLSP</option>
										</select>
																	
								</td>
							</tr>							

							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" name="check1">	
								</td>
								<td>								
									Resistivity
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										  <option>GR</option>
										  <option>NPHI</option>
										  <option>IDPH</option>
										  <option>SP</option>
										</select>
									
								</td>
								<td></td>
								<td>
									
										<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										  <option>VCLGR</option>
										  <option>VCLN</option>
										  <option>VCLR</option>
										  <option>VCLSP</option>
										</select>
																	
								</td>
							</tr>
								
							<tr class="nohover">
								<td border-top: 0px solid #c73030;>
									<input ichecks class="icheck" type="checkbox" name="check1">	
								</td>
								<td>								
									<input type="text" id="fname" name="fname" style="width:80%;">
								</td>
								<td></td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
									  <option>GR</option>
									  <option>NPHI</option>
									  <option>IDPH</option>
									  <option>SP</option>
									</select>
								</td>
								<td></td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
									  <option>VCLGR</option>
									  <option>VCLN</option>
									  <option>VCLR</option>
									  <option>VCLSP</option>
									</select>
								</td>
							</tr>
						</tbody>
						<tfoot class="nohover">
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
						</tfoot>
					</table>
				</div>
             </div>
        </div>
    </div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<!-- <div class="col-md-12"> -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Double Clay Indicator</b></h3>
				</div>
				<div class="panel-body">
					<table id="table-parameter-double" class="compact" cellspacing="0" width="100%" >
						<thead>
							<tr>
								<th style="border-bottom: 0px solid #dddddd;">Plot</th>
								<th style="border-bottom: 0px solid #dddddd;">Name 1</th>
								<th style="border-bottom: 0px solid #dddddd;">Name 2</th>
								<th style="border-bottom: 0px solid #dddddd;">Input 1</th>
								<th style="border-bottom: 0px solid #dddddd;">Input 2</th>
								<th style="border-bottom: 0px solid #dddddd;">Output</th>
							</tr>
						</thead>					
						<tbody>
							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" checked="" name="check1">	
								</td>
								<td>								
									Density
								</td>
								<td>Neutron</td>								
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								</td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								<td>							
									<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										<option>VCLGR</option>
										<option>VCLN</option>
										<option>VCLR</option>
										<option>VCLSP</option>
									</select>
								</td>
							</tr>	

							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" name="check1">	
								</td>
								<td>								
									Density
								</td>
								<td>Sonic</td>								
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								</td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								<td>							
									<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										<option>VCLGR</option>
										<option>VCLN</option>
										<option>VCLR</option>
										<option>VCLSP</option>
									</select>
								</td>
							</tr>							

							<tr class="nohover">
								<td>
									<input ichecks class="icheck" type="checkbox" name="check1">	
								</td>
								<td>								
									Sonic
								</td>
								<td>
									Neutron
								</td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								</td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								<td>							
									<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										<option>VCLGR</option>
										<option>VCLN</option>
										<option>VCLR</option>
										<option>VCLSP</option>
									</select>
								</td>
							</tr>
								
							<tr class="nohover">
								<td border-top: 0px solid #c73030;>
									<input ichecks class="icheck" type="checkbox" name="check1">	
								</td>
								<td>								
									<input type="text" id="fname" name="fname" style="width:80%;">
								</td>
								<td>								
									<input type="text" id="fname" name="fname" style="width:80%;">
								</td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								</td>
								<td>
									<select class="form-control selectpicker" name="method" ng-model="formData.input1" ng-init="formData.input1='GR'" style="     width:80%;">
										<option>GR</option>
										<option>NPHI</option>
										<option>IDPH</option>
										<option>SP</option>
									</select></td>
								<td>							
									<select class="form-control selectpicker" name="method" ng-model="formData.output1" ng-init="formData.output1='VCLGR'" style="  width:80%;">
										<option>VCLGR</option>
										<option>VCLN</option>
										<option>VCLR</option>
										<option>VCLSP</option>
									</select>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
							<td style="border-top: none;"></td>
						</tfoot>
					</table>
				</div>
             </div>
        </div>
    </div>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">			
				<div class="panel-body">
					<form role="form">
						<div style="text-align: center;">
							<button ui-sref="database.loadselection" type="submit" class="btn btn-primary grow button-small" style="background-color: gray;">Save Inputs</button>
							<span style="display:inline-block; width: 30px;"></span>
							<button ui-sref="database.loadselection" type="submit" class="btn btn-primary grow button-small" style="background-color: #848484;">Load Inputs</button>
							<span style="display:inline-block; width: 30px;"></span>
							<button ui-sref="database.loadselection" type="submit" class="btn btn-primary grow button-small" style="background-color: gray;">Reset</button>
							<br>
							<br>
							<button ui-sref="plot.log" type="submit" class="btn btn-primary grow button-large" style="background-color: #4CAF50;">Plot</button>						
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script src="js/custom.js"></script>	
</section>