<div class="pageheader">
    <h1>Log Plot</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <ol class="breadcrumb">
			<li><a ui-sref="index">Start</a></li>
			<li><a ui-sref="database.load">Load Database</a></li>
			<li><a ui-sref="database.loadselection">Load Curve</a></li>
			<li><a ui-sref="parameter.clay">Parameter Set</a></li>
			<li style="font-size:15px"><b>Plot</b></li>
			<li>Calculation & Correction</li>
			<li>Interpretation</li>
			<li>End</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight" ng-controller="GraphCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic chart with two lines</h3>
                    <div class="actions pull-right">
						<i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart1">
                        <chart-column column-id="data 1" column-values="30,200,100,400,150,250,100,600,100,200,50" column-type="spline" />
                        <chart-column column-id="data 2" column-values="50,20,10,40,15,25,100,600,100,200,50" column-type="line" />
                    </c3chart>
                </div>
            </div>
        </div>
    </div>

</section>
