<div class="pageheader">
    <h1>Log Plot</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>Plot</li>
            <li class="active">Log Plot</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight" ng-controller="GraphCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic chart with two lines</h3>
                    <div class="actions pull-right">
						<i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart1">
                        <chart-column column-id="data 1" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data 2" column-values="50,20,10,40,15,25" column-type="line" />
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
	
	<table>
		<thead>
			<tr><th class="col1">Header 1</th><th class="col2">Header 2</th><th class="col3">Header 3</th></tr>
		</thead>
		<tr><td>Column1</td><td>Column2</td><td>Column3</td></tr>
		<tr><td>Column1</td><td>Column2</td><td>Column3</td></tr>
		<tr><td>Column1</td><td>Column2</td><td>Column3</td></tr>
		<tr><td>Column1</td><td>Column2</td><td>Column3</td></tr>
	</table>

	<form>
		<input type="checkbox" name="col1" checked="checked" /> Hide/Show Column 1 <br />
		<input type="checkbox" name="col2" checked="checked" /> Hide/Show Column 2 <br />
		<input type="checkbox" name="col3" checked="checked" /> Hide/Show Column 3 <br />
	</form>
</section>
