<!--logo start-->
<div class="brand">
    <a href="#/index" class="logo" style="text-align: center;">
        <i><img class="img-circle profile-image" src="img/logo.png" height="40" width="40"></i>
        Smartdatics</a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left" toggle-left-sidebar></li>
    <li class="toggle-profile hidden-xs" toggle-profile></li>
    <li class="hidden-xs hidden-sm">
        <input type="text" class="search" placeholder="Search project...">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="toggle-navigation toggle-right" fullscreen-mode></li>
</ul>
